@using Newtonsoft.Json;
@model IEnumerable<WT_WebMVCApp.Models.ExerciseVM>

@{
    ViewData["Title"] = "Index";

    var ExerciseGrouped = Model.GroupBy(ex => ex.Category);
}

<div class="row">
    <div class="col-md-12 text-center">
        <h2>
            All Exercises
        </h2>
    </div>
</div>
<div class="row pl-4">
    <div class="col-md-12 mb-5">
        <button type="button" class="btn btn-success btn-sm" id="addNewExercise" data-toggle="tooltip" data-placement="top" title="Add New Exercise">
            Add new Exercise <i class="fa fa-plus"></i>
        </button>
    </div>
</div>



<script>
    var userExercises = [];
    serializedModel = '@Html.Raw(JsonConvert.SerializeObject(Model))'
    userExercises = JSON.parse(serializedModel);
</script>


@foreach (var group in ExerciseGrouped)
{
    var category = group.Key;
    var ExerciseCategoryNumber = (int)category;
    var ExerciseCategory = System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(category.ToString().ToLower());

    <div class="row mb-2 pl-4">
        <div class="col-md-12">
            <h2 data-CategoryNumber="@ExerciseCategoryNumber">
                @ExerciseCategory
            </h2>
        </div>

        @foreach (var exercise in group)
        {
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-secondary bg-light o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <img style="height:100px;width:100px" class="rounded-circle img-responsive" src="@exercise.ImagePath" />
                        </div>

                        <div class="row mr-5 mt-2">
                            <div class="col-md-12">
                                <h3 class="text-capitalize text-center">@exercise.Name</h3>
                                <hr />
                            </div>
                            <div class="col-md-8">
                                <blockquote class="blockquote">
                                    <p class="mb-0">@exercise.Description</p>
                                </blockquote>
                            </div>
                            <div class="col-md-4">
                                @foreach (var attribute in exercise.Attributes)
                                {
                                    <span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="top" title="@attribute.AttributeValue">
                                        @attribute.AttributeName
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="button" class="btn btn-sm deleteExercise" data-toggle="tooltip" data-placement="top" title="Delete Exercise" data-exerciseId="@exercise.ID">
                           Delete <i class="fa fa-times"></i>
                        </button>
                        <button type="button" class="btn btn-sm editExercise" data-toggle="tooltip" data-placement="top" title="Edit Exercise" data-exerciseId="@exercise.ID">
                           Edit <i class="fa fa-edit"></i>
                        </button>
                    </div>
                </div>
            </div>
        }

    </div>
}

@Html.Partial("_ExerciseModal.cshtml")
@Html.Partial("_DeleteExerciseModal.cshtml")

@section Scripts
    {
    <script>
        $(function () {
            //console.log(userExercises);

            //scroll to where we left on page reload 
            if (sessionStorage.scrollTop != "undefined") {
                $('html, body').animate({ scrollTop: sessionStorage.scrollTop }, 1000, 'swing');
            }

            //remember scroll in sessionStorage
            $(window).scroll(function () {
                sessionStorage.scrollTop = $(this).scrollTop();
            });

            $("#addNewExercise").on("click", function () {
                //populate the modal
                var exerciseId = 0;

                $("#exerciseModalLabel").text("Add Exercise");
                $("#ExerciseId").val(exerciseId);
                $("#Name").val("");
                $("#Description").val("");
                $("#Category").val("");
                $("#previewImage").attr("src", "").hide();
                $("#ErrorMessage").hide();
                $("label.error").hide();

                $("#AttributeHolder").empty();
                //add mandatory attributes when creating new
                var mandatoryAttributes = [
                    { name: "No.Sets", value: "5", deletable: "false" },
                    { name: "No.Repetitions", value: "5", deletable: "false" },
                    { name: "Weight", value: "40", deletable: "true" }
                ];
                $.each(mandatoryAttributes, function (index, item) {
                    var clone = $(".clonableRow").clone();
                    $(clone).removeClass("clonableRow");
                    $(clone).addClass("AttributeInstance");
                    $(clone).find(".AttributeId").first().val(0);
                    $(clone).find(".AttributeDeletable").first().val(item.deletable);
                    $(clone).find(".AttributeNameSpan").first().text(item.name);
                    $(clone).find(".AttributeNameInput").first().val(item.name);
                    $(clone).find(".AttributeValue").first().val(item.value).attr("readonly", false);
                    if (item.deletable == "false")
                        $(clone).find(".attrDelete").first().remove();
                    $(clone).find(".attrEdit").first().remove();

                    $(clone).show();
                    $(clone).appendTo("#AttributeHolder");
                });

                $("#exerciseModal").modal("show");
            });


            $(".editExercise").on("click", function () {
                //populate the modal
                var exerciseId = $(this).attr("data-exerciseId");
                var exercise = userExercises.filter(function (item) {
                    return item.ID == exerciseId;
                })[0];
                //console.log(exercise);

                $("#exerciseModalLabel").text("Edit Exercise");
                $("#ExerciseId").val(exercise.ID);
                $("#Name").val(exercise.Name);
                $("#Description").val(exercise.Description);
                $("#Category").val(exercise.Category);
                $("#previewImage").attr("src", exercise.ImagePath).show();
                $("#ErrorMessage").hide();
                $("label.error").hide();

                $("#AttributeHolder").empty();
                $.each(exercise.Attributes, function (index, item) {
                    var clone = $(".clonableRow").clone();
                    $(clone).removeClass("clonableRow");
                    $(clone).addClass("AttributeInstance");
                    $(clone).find(".AttributeId").first().val(item.ID);
                    $(clone).find(".AttributeDeletable").first().val(item.IsDeletable);
                    $(clone).find(".AttributeNameSpan").first().text(item.AttributeName);
                    $(clone).find(".AttributeNameInput").first().val(item.AttributeName);
                    $(clone).find(".AttributeValue").first().val(item.AttributeValue);
                    if (item.IsDeletable == false)
                        $(clone).find(".attrDelete").first().remove();

                    $(clone).show();
                    $(clone).appendTo("#AttributeHolder");
                });
                $("#exerciseModal").modal("show");
            });



            $(".deleteExercise").on("click", function () {
                //populate the modal
                var exerciseId = $(this).attr("data-exerciseId");
                var exercise = userExercises.filter(function (item) {
                    return item.ID == exerciseId;
                })[0];
                //console.log(exercise);

                $("#del-ExerciseId").val(exercise.ID);
                $("#del-Name").val(exercise.Name);
                $("#del-previewImage").attr("src", exercise.ImagePath).show();
                $("#del-ErrorMessage").hide();

                $("#del-ExerciseModal").modal("show");
            });



        });
    </script>
}




