@using Newtonsoft.Json;
@model IEnumerable<WT_WebMVCApp.Models.WorkoutRoutineVM>

@{
    ViewData["Title"] = "Workout Routines";

}

<div class="row pl-4">
    <div class="col-md-12 text-center">
        <h2>
            All Routines
        </h2>
    </div>
</div>
<div class="row pl-4">
    <div class="col-md-12 mb-5">
        <button type="button" class="btn btn-success btn-sm" id="addNewRoutine" data-toggle="tooltip" data-placement="top" title="Add New Routine">
            Add new Routine <i class="fa fa-plus"></i>
        </button>
    </div>
</div>



<script>
    var userRoutines = [];
    serializedModel = '@Html.Raw(JsonConvert.SerializeObject(Model))'
    userRoutines = JSON.parse(serializedModel);
</script>


<div class="row mb-2 pl-4">
    @foreach (var routine in Model)
    {
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card border-dark" style="width: 18rem;overflow:hidden">
                <div class="card-body mb-4">

                    <div class="card-body-icon-square">
                        <img style="height:100px;width:100px" class="img-responsive" src="@routine.ImagePath" />
                    </div>

                    <h5 class="card-title">@routine.Name</h5>
                    <p class="card-text text-muted">@routine.Description</p>

                </div>

                <div class="text-center">
                    <h6>
                        Exercises: &nbsp;
                        <button type="button" class="btn btn-success btn-sm addExerciseToRoutine" data-toggle="tooltip" data-placement="top"
                                title="Add Exercises to Routine" data-routineId="@routine.ID">
                            <i class="fa fa-plus"></i>
                        </button>
                    </h6>
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var exercise in routine.Exercises)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-10 text-uppercase font-weight-bold">
                                    @exercise.Name
                                </div>
                                <div class="col-md-2 p-0 text-center">
                                    <img style="height:2.5rem;width:2.5rem" class="rounded-circle img-responsive" src="@exercise.ImagePath" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    @foreach (var attribute in exercise.Attributes)
                                    {

                                        <span class="badge badge-light">
                                            @attribute.AttributeName : <span style="font-size:1.1em">@attribute.AttributeValue</span>
                                        </span>

                                    }
                                </div>

                            </div>
                        </li>
                    }
                </ul>

                <div class="card-footer text-center">
                    <button type="button" class="btn btn-sm editRoutine" data-toggle="tooltip" data-placement="top" title="Edit Routine" data-routineId="@routine.ID">
                        Edit <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-sm deleteRoutine" data-toggle="tooltip" data-placement="top" title="Delete Routine" data-routineId="@routine.ID">
                        Delete <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
    }

</div>

@Html.Partial("_AddExercisesToRoutineModal.cshtml")
@Html.Partial("_RoutineModal.cshtml")
@Html.Partial("_DeleteRoutineModal.cshtml")

<style>
    .list-group-item {
        cursor: pointer;
    }

        .list-group-item:hover {
            border-left: 2px solid black;
            background-color: #e0e0eb;
        }
</style>

@section Scripts
    {
    <script>
        $(function () {
            //console.log(userExercises);


            $(document).on("click", "#addNewRoutine", function () {
                $(this).tooltip('hide');

                $("#addExercisesBtn").show();
                $("#exerciseTable2_wrapper").hide();

                $("#RoutineModal").modal("show");

            });

            $(document).on("click", ".editRoutine", function () {
                $(this).tooltip('hide');

                //populate the modal
                var routineId = $(this).attr("data-routineId");

                var routine = userRoutines.filter(function (item) {
                    return item.ID == routineId;
                })[0];

                var routineExercises = [];
                routineExercises = routine.Exercises.map(function (item) {
                    return item.ID;
                });
                //console.log(routine);

                $("#RoutineId").val(routineId); //hidden field in the modal
                $("#RoutineModalLabel").text("Edit Routine");
                $("#Name").val(routine.Name);
                $("#Description").val(routine.Description);
                $("#previewImage").attr("src", routine.ImagePath).show();
                $("#RoutineErrorMessage").hide();
                $("label.error").hide();


                $.each($(".exerciseEntry2"), function (index, item) {
                    var exerciseId = $(item).attr("data-exerciseId");
                    exerciseId = parseInt(exerciseId);
                    if (routineExercises.indexOf(exerciseId) != -1) {
                        $(item).addClass("selectedExercise2");
                    }
                    else {
                        $(item).removeClass("selectedExercise2");
                    }
                });

                $("#addExercisesBtn").hide();
                $("#exerciseTable2_wrapper").show();

                $("#RoutineModal").modal("show");
            });
            
            $(document).on("click", ".deleteRoutine", function () {
                //populate the modal
                var routineId = $(this).attr("data-routineId");
                var routine = userRoutines.filter(function (item) {
                    return item.ID == routineId;
                })[0];
                //console.log(exercise);

                $("#del-RoutineId").val(routineId);
                $("#del-Name").val(routine.Name);
                $("#del-previewImage").attr("src", routine.ImagePath).show();
                $("#del-ErrorMessage").hide();

                $("#del-RoutineModal").modal("show");
            });

            $(document).on("click", ".addExerciseToRoutine", function () {
                $(this).tooltip('hide');

                var routineId = $(this).attr("data-routineId");
                $("#routineId").val(routineId); //hidden field in the modal

                var routine = userRoutines.filter(function (item) {
                    return item.ID == routineId;
                })[0];

                var routineExercises = [];
                routineExercises = routine.Exercises.map(function (item) {
                    return item.ID;
                });

                $.each($(".exerciseEntry"), function (index, item) {
                    var exerciseId = $(item).attr("data-exerciseId");
                    exerciseId = parseInt(exerciseId);
                    if (routineExercises.indexOf(exerciseId) != -1) {
                        $(item).addClass("selectedExercise");
                    }
                    else {
                        $(item).removeClass("selectedExercise");
                    }
                });

                $("#addExerciseModal").modal("show");

            });

        });
    </script>
}




